#################################################################
# Unity folders and files

[Aa]ssets/AssetStoreTools*
[Bb]uild*
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
[Uu][Ii][Ee]lements[Ss]chema/
[Aa]ssets/[Pp]ro[Bb]uilder [Dd]ata/

# file on crash reports
sysinfo.txt

# Unity3D generated meta files
*.pidb.meta
*.stackdump

#################################################################
# FMOD

/**/FMODStudioCache.asset
/**/FMODStudioCache.asset.meta
/**/fmod.log
/**/fmod_editor.log

*.cache/
*.unsaved/
*.user/
*.restore/

*/Assets/_First Party/Audio/*.user
*/Assets/_First Party/Audio/*.unsaved
*/Assets/_First Party/Audio/*.cache
*/Assets/_First Party/Audio/*.restore
*/Assets/_First Party/Audio/**/*.meta

*/Assets/StreamingAssets/**/*.bank
*/Assets/StreamingAssets/**/*.bank.meta
*/Assets/StreamingAssets/**/*.strings.bank
*/Assets/StreamingAssets/**/*.strings.bank.meta

#################################################################
# VS/MD solution and project files

[Ee]xportedObj/
[Ee]xported[Oo]bj/
.vs*/

*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb

#################################################################
# OS generated

*_DS_Store
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini